{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<div class="d-flex mt-3">
    <form id="configurator" class="col-7"
          action="{%if risk_assessment is None %}{% url 'assessment' %}{% else %}{% url 'assessment' risk_assessment.id %}{% endif %}"
          method="post">
        <h4 class="ml-3">Risk assessment parameters</h4>
        {% include "risk-assessment-form-fieldset.html" with risk_assessment_form=risk_assessment_form %}
        {% include "inflows-form-fieldset.html" with inflow_form=inflow_form source_name_field=risk_assessment_form.source_name %}
        {% include "treatments-form-fieldset.html" with treatment_form=treatment_form add_treatment_form=add_treatment_form %}
        {% if request.user.is_authenticated %}
        <div class="my-2  configurator-section" id="configurator-commands" style="z-index: 98">
            <div class="col-6">
                <input id="save-risk-assessment-btn" type="submit" class="btn btn-primary w-100 my-2" value="Save & Continue">
            </div>
            <div class="col-6">
                <input id="save-and-exit-risk-assessment-btn" type="submit" class="btn btn-primary w-100 my-2"
                       formaction="{%if risk_assessment is None %}{% url 'assessment' %}{% else %}{% url 'assessment' risk_assessment.id %}{% endif %}?redirect=True"
                       value="Save & Exit">
            </div>
        </div>
        {% endif %}
    </form>
    <div class="w-100">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <button class="nav-link active" id="result-button" data-toggle="tab" data-target="#assessment-result"
                        type="button"
                        role="tab" aria-controls="home" aria-selected="true">
                    Result
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="references-button" data-toggle="tab" data-target="#info" type="button"
                        role="tab"
                        aria-controls="home" aria-selected="false">
                    References
                </button>
            </li>
            <li class="nav-item">
                <button id="start-user-guide" class="nav-link" data-toggle="tab" data-target="#guide" type="button"
                        role="tab"
                        aria-controls="home" aria-selected="false">
                    User guide
                </button>
            </li>
            {% if user_exposure_form is not None and user_source_form is not None and user_treatment_form is not None %}
                <li class="nav-item">
                    <button id="create-exposure-btn" class="nav-link" data-toggle="tab" data-target="#create-exposure" type="button"
                            role="tab"
                            aria-controls="home" aria-selected="false">
                        New Exposure
                    </button>
                </li>
                <li class="nav-item">
                    <button id="create-source-btn" class="nav-link" data-toggle="tab" data-target="#create-source" type="button"
                            role="tab"
                            aria-controls="home" aria-selected="false">
                        New Source
                    </button>
                </li>
                <li class="nav-item">
                    <button id="create-treatment-btn" class="nav-link" data-toggle="tab" data-target="#create-treatment" type="button"
                            role="tab"
                            aria-controls="home" aria-selected="false">
                        New Treatment
                    </button>
                </li>
            {% endif %}
        </ul>
        <div class="w-100 tab-content" style="height: 100%; width: 100%">
            <div id="assessment-result" class="w-100 tab-pane fade show active" role="dialog" style="height: 100%;">
                <div class="col mr-3" style="height: 100%;">
                    <div id="show-result" class="col" style="position: sticky; top: 50%">
                        <button id="assess-risk-btn" class="btn btn-outline-primary w-100 m-2">Show assessment
                            results
                        </button>
                    </div>
                </div>
            </div>
            <div id="info" class="tab-pane fade mt-4" style="max-height: 100%">
                <div id="exposure-info">
                    <h4>Exposure: <span id="exposure-info-name"></span></h4>
                    <div class="test-muted small mb-4" id="exposure-info-description"></div>
                    <div class="mb-4" id="exposure-info-values"></div>
                    <div class="small mb-4"><sup>[1]</sup>values taken from <a id="exposure-info-reference" href="" target="_blank" rel="noopener noreferrer"></a>
                    </div>
                </div>
                <div id="source-info">
                    <h4>Source water: <span id="source-info-name"></span></h4>
                    <div class="test-muted small mb-4" id="source-info-description"></div>
                    <div id="source-info-inflows">
                        <table class="table small">
                            <tr>
                                <th>Pathogen</th>
                                <th>Min. concentration<sup>[1]</sup></th>
                                <th>Max. concentration<sup>[1]</sup></th>
                            </tr>
                            <tr>
                                <td>Rotavirus</td>
                                <td id="Rotavirus-min-info"></td>
                                <td id="Rotavirus-max-info"></td>
                            </tr>
                            <tr>
                                <td>Campylobacter jejuni</td>
                                <td id="Campylobacter-min-info"></td>
                                <td id="Campylobacter-max-info"></td>
                            </tr>
                            <tr>
                                <td>Cryptosporidium parvum</td>
                                <td id="Cryptosporidium-min-info"></td>
                                <td id="Cryptosporidium-max-info"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="small mb-4"><sup>[1]</sup>values taken from <a id="source-info-reference" href="" target="_blank" rel="noopener noreferrer"></a>
                    </div>
                </div>
                <div id="treatment-info">
                    <h4>Treatments</h4>
                </div>
                <div class="text-muted small" id="treatments-info"></div>
            </div>
            <div id="guide" class="tab-pane fade"></div>
            {% if user_exposure_form is not None and user_source_form is not None and user_treatment_form is not None %}
                <div id="create-exposure" class="tab-pane fade">
                    {% crispy user_exposure_form %}
                </div>
                <div id="create-source" class="tab-pane fade">
                    {% crispy user_source_form %}
                </div>
                <div id="create-treatment" class="tab-pane fade">
                    {% crispy user_treatment_form %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<div>
    {% include "configurator-guided-tour.html" %}
    <script type="text/javascript">
        document.addEventListener(`keypress`, evt => {
            const form = evt.target.closest(`#configurator`);
            if (form && evt.target.tagName === "INPUT") {
                if (evt.key === `Enter`) {
                    evt.preventDefault();
                }
            }
        })
        async function addSubmitHandler(form) {
            function handleSubmit(e) {
                e.preventDefault();
                e.stopPropagation();
                if (!form.checkValidity()) { form.reportValidity(); return; }
                const accepted_redirect = confirm("Any unsaved changes to your risk assessment will be lost.\nAre you sure you want to continue?")
                if (!accepted_redirect) return;
                const frm = new FormData(form);
                return fetch(form.action, {
                    method: "POST",
                    redirect: "follow",
                    headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
                    mode: 'same-origin',
                    body: frm
                    }).then(r => {
                        if (r.redirected) {
                            window.location.href = r.url;
                            return false;
                        }
                        return r.text();
                    }).then(r => {
                        if (r){ form.innerHTML = r; }
                        return false;
                    });
            }
            form.querySelector("input[type=submit]").addEventListener("click", handleSubmit);
            form.addEventListener("submit", function(){ return false; });
        }
        document.addEventListener("DOMContentLoaded", function() {
            const userExposureForm = document.querySelector("#user-exposure-form");
            if (null !== userExposureForm) { addSubmitHandler(userExposureForm) }
            const userSourceForm = document.querySelector("#user-source-form");
            if (null !== userSourceForm) { addSubmitHandler(userSourceForm) }
            const userTreatmentForm = document.querySelector("#user-treatment-form");
            if (null !== userTreatmentForm) { addSubmitHandler(userTreatmentForm) };
        })

    </script>
    <style type="text/css">
        nav .nav-tabs {
            margin: 16px 32px 0 50px;
            border-bottom: 0;
        }

        nav .nav-tabs button {
            border-bottom: 0;
            border-radius: 12px 12px 0 0;
        }

        .configurator-section {
            padding: 18px 0 18px 0;
            margin: 0 16px 0 16px;
            overflow: auto;
            background: #F6F6FF;
            border: 1px solid #CECFFF;
            border-radius: 2px;
            display: flex;
        }

        textarea#id_ra-description {
            max-height: 38px;
        }

        .disabled-input {
            pointer-events: none;
            background: #e9ecef;
        }

        div[id*=inflow-n] label {
            display: none;
        }

        div[id=inflow-n-0] label,
        div[id*=inflow-n] {
            display: initial;
        }

        input[type="checkbox"] {
            -webkit-appearance: initial;
            appearance: initial;
            position: relative;
            width: 44px;
        }

        input[type="checkbox"]:checked {
            color: #721c24;
            background-color: #f8d7da;
        }

        input[type="checkbox"]:checked:after {
            content: "X";
            color: #000;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .custom-select:disabled,
        .input-group-append,
        .input-group-text {
            background: #E4E5FF;
            border: 1px solid #CECFFF;
        }

        .custom-select {
            min-width: min-content;
        }

        .input-group-text {
            padding: 0 .75rem;
        }

        #configurator-commands {
            position: sticky;
            bottom: 10px;
            background: #F6F6FF;
        }
    </style>
    {% include "risk-assessment-form-js.html" %}
</div>
{% endblock %}