{% extends "layout.html" %}
{% load static %}
{% block body %}
<div class="container w-75 my-4">
    <h3>Impressum</h3>
    <img height="100px" class="my-5" src="{% static 'img/qmra-full-logo.svg' %}">
    <h2>Funding</h2><br><br>
    <div class="row">
        <div class="col">
            <div class="my-3"><img height="100px" src="{% static 'img/AquaNES.png' %}"></div>
            <div class="my-3"><img height="100px" src="{% static 'img/nextGen.png' %}"></div>
        </div>
        <div class="col">
            <div class="my-3"><img height="100px" src="{% static 'img/interreg.png' %}"></div>
            <div class="my-3"><img height="100px" src="{% static 'img/ultimate.png' %}"></div>
        </div>
    </div>
    <h2>Contact</h2>
    <b>Wolfgang Seis</b><br>
    Kompetenzzentrum Wasser Berlin<br>
    Wissenschaftlicher Mitarbeiter<br>
    <br>
    wolfgang.seis@kompetenz-wasser.de<br>
    +49 (0) 30 53 653 807
</div>
{% endblock %}