{% load crispy_forms_tags %}
{% load static %}
<nav id="inflow-nav">
    <div class="nav nav-tabs" id="inflows-nav-tab" role="tablist">
        <button class="nav-link active" id="nav-inflows-params-tab" data-toggle="tab"
                data-target="#inflows-formset-fieldset" type="button" role="tab"
                aria-controls="inflows-formset-fieldset" aria-selected="true">input parameters
        </button>
        <button class="nav-link" id="nav-inflows-plot-tab" data-toggle="tab"
                data-target="#inflows-plot" type="button" role="tab"
                aria-controls="inflows-plot" aria-selected="false">plots
        </button>
    </div>
</nav>
<div class="configurator-section" id="inflow-content">
    <fieldset id="inflows-formset-fieldset"
              class="col-8"
              role="tabpanel"
              style="height: 320px;"
              aria-labelledby="nav-inflows-params-tab"
              >
        {{ source_name_field | as_crispy_field }}
        <div id="inflows-management">{{ inflow_form.management_form|crispy }}</div>
        {% if inflow_form.non_form_errors %}
        <input type="hidden" class="is-invalid">
        <div class="invalid-feedback">there were errors validating the list of inflows:</div>
        <span class="invalid-feedback">
            <strong>{{inflow_form.non_form_errors }}</strong>
        </span>
        {% endif %}
        {% for form in inflow_form %}
        <div id="inflow-n-{{forloop.counter0}}">
            {% for field in form.hidden_fields %}
            {{field}}
            {% endfor %}
            <div style="display: flex; gap: 5px">
                {% crispy form %}
            </div>
        </div>
        {% endfor %}
    </fieldset>
    <div id="inflows-plot"
         class="my-auto mx-1" role="tabpanel"
         style="height: 320px;"
         aria-labelledby="nav-inflows-plot-tab">
    </div>
</div>
{% include "inflows-form-js.html" %}