{% extends "layout.html" %}
{% load static %}
{% block body %}
<script type="text/javascript">
    const baseUrl = '/assessment'
    function deleteAssessment(assessmentId) {
        fetch(baseUrl + '/' + assessmentId, {
            method: "DELETE",
            headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value },
            mode: 'same-origin'
        }).then(() => window.location.reload())
    }
</script>
<style type="text/css">
    .assessment-summary {
        max-width: 82%;
    }
</style>
{% csrf_token %}
{% include "home-guided-tour.html" %}
<div class="container w-75">
    <div class="modal" id="comparison-modal" role="dialog">
        <div class="modal-dialog" role="document" style="max-width: 75vw !important;">
            <div class="modal-content">
                <h4 class="mt-3 mx-5 text-center">Risk assessment comparison</h4>
                <div id="comparison-plot" class="">
                <div class="small text-muted mx-5 my-3">For each pathogen, the outer boundaries of each barplot refer to the range between the maximum of the maximum LRV scenario and the minimum of the minimum risk scenario (maximal range). The inner range refers to the range between the mean of the maximum and the mean of the minimum risk scenario (difference in means). The mean of the distribution is often considered as the preferred point estimator, for deciding whether health targets are achieved.
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col my-3">
            <div id="textIntroduction"></div>
            <a href="#" id="toggleIntroduction" onclick="toggleText()"></a>
        </div>
    </div>
    <div class="row commands w-100" style="z-index: 99; height: 80px">
        <div id="new-assessment-btn" class="col">
            <a class="btn btn-outline-primary mt-3 w-100" href="{%url 'assessment'%}">
                Create new risk assessment
            </a>
        </div>
        <div id="compare-assessments-btn" class="col">
            <button class="btn btn-outline-primary mt-3 w-100" id="compare-btn">
                Compare selected assessments
            </button>
        </div>
        <div class="col">
            <button class="btn btn-outline-primary mt-3 w-100" id="start-user-guide">
                Start user guide
            </button>
        </div>
    </div>
    <button id="show-comparison-btn" hidden data-toggle="modal" data-target="#comparison-modal"
        data-show="true"></button>
    {% if user.is_authenticated %}
    <h4 class="my-3 kwb_headline text-center" style="height:60px">My Risk Assessments</h4>
    <div id="assessment-list">
    {%for assessment in assessments%}

    <button id="show-result-{{assessment.id}}" hidden data-toggle="modal"
        data-target="#assessment-result-{{assessment.id}}" data-show="true"></button>
    <div id="assessment-result-{{assessment.id}}" class="modal" role="dialog">
            <div class="modal-dialog" role="document" style="max-width: 75vw !important;">
        </div>
    </div>

    <div class="media p-3 mt-3 custom-media w-100"
        style="border: 2px solid; border-radius: 5px; border-color: #d3d3d3; align-items: stretch; position: relative;">
        <div class="media-left mt-2 pr-3">
            <div>
                <img src="{% static 'img/ra.svg' %}">
            </div>
        </div>
        <div data-toggle="tooltip" title="click to show results" class="media-body assessment-summary" id="assessment-summary-{{assessment.id}}"
            data-assessment-id="{{assessment.id}}" style="">
            <h4 class="media-heading text-truncate kwb_headline">
                {{assessment.name|title}}&nbsp
            </h4>
            <div class="d-flex w-100 h-75">
                <div class="w-75 text-truncate">
                    {% if assessment.description %}
                    {{assessment.description}}
                    {% else %}
                    No description
                    {% endif %}
                </div>
            </div>
        </div>
        <div style="height: 21px; display: flex; margin-left: auto; line-height: 0 !important">
            <label class="text-muted small form-inline mb-0 mr-1">compare </label>
            <input data-toggle="tooltip" title="select for comparison" type="checkbox" class="select-assessment-btn mr-2" value="{{assessment.id}}"
                style="width: 20px; height: 20px">
            <a data-toggle="tooltip" title="download" class="mr-1" href="{% url 'assessment-export' assessment.id %}"><img src="{% static 'img/download.svg' %}"></a>
            <a data-toggle="tooltip" title="edit" class="mr-1" href="{% url 'assessment' assessment.id %}">
                <img src="{% static 'img/pen.svg' %}">
            </a>
            <label data-toggle="tooltip" title="delete" onclick="event.stopPropagation(); deleteAssessment('{{assessment.id}}')" style="cursor: pointer;">
                <input type="submit" hidden="hidden">

                <img src="{% static 'img/close.svg' %}">
            </label>
        </div>
        <div class="text-right">
            <div style="color: var(--kwb-lightblue); position: absolute; bottom: 4px; right: 16px;">
                {{assessment.created_at.date}}
            </div>
        </div>
        {{ assessment.results_list | json_script:assessment.id}}
    </div>

    {%empty%}
    There are currently no risk assessments. Click on Create new risk assessment to create your
    first risk assessment.
    {%endfor%}
</div>
</div>
<style type="text/css">
    .commands {
        position: sticky;
        top: 0;
        background: white;
        padding: .5em 0 .5em 0;
    }
</style>
<script type="text/javascript">
    var status = {% if assessments %} "more" {% else %} "less" {% endif %};

    function toggleText()
    {
        const less="Welcome to the QMRA Tool for Water Reuse!</br>";
        const more = `<p class="mt-4">
                <h5>Welcome to the QMRA Tool for Water Reuse</h5>
                <p>This tool is designed to support Quantitative Microbial Risk Assessment (QMRA) for human health in the
                context of water reuse. Whether you're evaluating the safety of treated wastewater or other reclaimed
                    water sources, this tool helps you assess potential health risks associated with microbial contaminants.</p>
                <h5>Free and User-Friendly</h5>
                <p>Our QMRA tool is completely free to use, offering you a powerful resource to assess microbial risks in
                    water reuse schemes. You can use the tool without logging in, making it quick and easy to get started.</p>
                <h5>Enhanced Features for Registered Users</h5>
                <p>Now that you have an account, you can:
            <ul>
                <li>Save Your Assessments: Store your risk assessments for future reference.</li>
                <li>Compare Results: Analyze and compare multiple risk assessments side by side.</li>
                <li>Export Options: Download and share your results in convenient formats.</li>
            </ul>
            Let's get started on your risk assessment journey!</p>
            </p>`

        if (status == "less") {
            document.getElementById("textIntroduction").innerHTML = more;
            document.getElementById("toggleIntroduction").innerText = "Show Less";
            status = "more";
        } else if (status == "more") {
            document.getElementById("textIntroduction").innerHTML = less;
            document.getElementById("toggleIntroduction").innerText = "Show More";
            status = "less";
        }
    }
    document.addEventListener("DOMContentLoaded", function(){ toggleText()});

    const colors = [['hsl(188, 100, 49)'], [], ['hsl(239, 100, 45)']];
    var [l1, l2, l3] = [49, 0, 45];
    for (let i of Array(3).keys()) {
        [l1, l2, l3] = [(l1 + (40/3)) % 100, (l2 + 15) % 100, (l3 + (40/3)) % 100]
        colors[0].push(`hsl(188, 100, ${l1})`)
        colors[2].push(`hsl(239, 100, ${l3})`)
    }
    function getResults(id) {
        const content = fetch(`{% url 'assessment-result' %}?id=${id}`, {
            method: "GET",
            headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value },
            mode: 'same-origin'
        }).then(r => r.text()).then(html => {
            document.querySelector(`#assessment-result-${id}`).querySelector(".modal-dialog").innerHTML = html;
            document.querySelector(`#assessment-result-${id}`).querySelector(".modal-dialog").firstChild.classList.add("modal-content", "px-5");
            document.querySelector(`#show-result-${id}`).click();
            document.querySelector(`#assessment-result-${id}`).querySelectorAll("script").forEach(s => eval(s.innerHTML));
        });
    }
    class ResultPlot {
        constructor(divId) {
            this.divId = divId;
            this.$div = document.querySelector(`#${divId}`);
            this.width = this.$div.getBoundingClientRect().width;
            this.data = [];
            this.layout = {
                datarevision: 0,
                // grid: {rows: 1, columns: 1},
                barmode: "group",
                yaxis: {
                    type: 'log',
                    exponentformat: "power",
                    dtick: 1,
                    autorange: true,
                    title: "infection prob",
                    automargin: true,
                    domain: [0., 1.]
                },
                shapes: [{
                    type: 'line',
                    label: {text: "tolerable risk level", font: {color: 'rgb(0, 3, 229)', size: 12}, textposition: "end"},
                    x0: 0,
                    y0: .0001,
                    x1: 1,
                    y1: .0001,
                    xref: "paper",
                    line: {
                        color: 'rgb(0, 3, 229)',
                        width: 2,
                        dash: 'dashdot'
                    }
                }],
                xaxis: {
                    autorange: true,
                    automargin: true
                },
                autosize: true,
                font_color: "black",
                margin: { t: 0 },
                legend: {
                    orientation: "h", yanchor: "bottom",
                    xref: "container", yref: "container",
                    xanchor: "center",
                    x: 0.5, y: -2
                },
                bargroupgap: .1, bargap: .1
            };
            this.config = { displaylogo: false, modeBarButtonsToRemove: ['zoom2d', 'pan2d', 'select2d', 'lasso2d', 'zoomIn2d', 'zoomOut2d', 'autoScale2d', 'resetScale2d'], responsive: true };
            Plotly.newPlot(divId, this.data, this.layout, this.config);
            window.addEventListener("resize", () => {
                Plotly.relayout(divId, {
                    // width: window.innerWidth*.75,
                    'xaxis.autorange': true,
                    'yaxis.autorange': true
                });
            });
        }
        setTraces(allResults) {
            const data = allResults.map((ra, i) => ra.map((x, j) => asTraces(x, i, j)).flat());
            const layout = { ...this.layout }
            layout.width = this.$div.getBoundingClientRect().width * .95;
            layout.height = window.innerHeight * .75;
            Plotly.react(this.divId, data.flat(), layout, this.config)
        }

    }
    function asTraces(r, i, j) {
        return [{
            x: [r.ra_name],
            base: [r.infection_maximum_lrv_min],
            y: [r.infection_minimum_lrv_max],
            name: r.pathogen,
            type: "bar",
            xaxis: "x",
            yaxis: "y",
            marker: { color: colors[0][j], opacity: .75, fillmode: "overlay", pattern: {shape: "/"} },

            showlegend: i === 0,
            offsetgroup: r.pathogen,
            legendgroup: "min - max range",
            legendgrouptitle: { text: "min - max range" },
            hovertemplate: `max=%{y}, min=%{base}`
        },
        {
            x: [r.ra_name],
            base: [r.infection_maximum_lrv_median],
            y: [r.infection_minimum_lrv_median],
            name: r.pathogen,
            type: "bar",
            xaxis: "x",
            yaxis: "y",
            marker: { color: colors[2][j], opacity: .85, fillmode: "replace" },
            offsetgroup: r.pathogen,
            showlegend: i === 0,
            legendgroup: "mean range",
            legendgrouptitle: { text: "mean range" },
            hovertemplate: `max=%{y}, min=%{base}`
        }
        ]
    }
    document.addEventListener('DOMContentLoaded', async function () {
        document.querySelectorAll(".assessment-summary").forEach(n => {
            n.addEventListener("click", async ev => {
                ev.preventDefault();
                ev.stopPropagation();
                getResults(n.getAttribute("data-assessment-id"));
            });
        });
        const plot = new ResultPlot("comparison-plot")
        document.querySelector("#compare-btn").addEventListener("click", () => {
            const selected = [...document.querySelectorAll(".select-assessment-btn")].filter(
                btn => btn.checked).map(btn => JSON.parse(document.querySelector(`[id='${btn.value}']`).textContent));
            document.querySelector("#show-comparison-btn").click();
            plot.setTraces(selected);

        })
    })
</script>
{%endif%}
{% endblock %}

{% block side-list %}
{% endblock %}