{% load static %}
<script type="application/json" src="{% static 'data/default-treatments.json' %}"></script>
<script type="text/javascript">
    let defaultTreatments = null;
    let focusedTreatment = null;
    let treatmentsFormset = null;
    let treatmentsPlots = null;
    class TreatmentForm {
        fields = {
            id: {
                selector: null,
                getter: (elem) => elem.id,
                setter: (elem, x) => null
            },
            name: { selector: "select", getter: (elem) => elem.value, setter: (elem, x) => { elem.value = x } },
            bacteria_min: { selector: "input[id*='bacteria_min']", getter: (elem) => elem.value, setter: (elem, x) => { elem.value = x } },
            bacteria_max: { selector: "input[id*='bacteria_max']", getter: (elem) => elem.value, setter: (elem, x) => { elem.value = x } },
            viruses_min: { selector: "input[id*='viruses_min']", getter: (elem) => elem.value, setter: (elem, x) => { elem.value = x } },
            viruses_max: { selector: "input[id*='viruses_max']", getter: (elem) => elem.value, setter: (elem, x) => { elem.value = x } },
            protozoa_min: { selector: "input[id*='protozoa_min']", getter: (elem) => elem.value, setter: (elem, x) => { elem.value = x } },
            protozoa_max: { selector: "input[id*='protozoa_max']", getter: (elem) => elem.value, setter: (elem, x) => { elem.value = x } },
        }
        constructor(div) {
            this.$form = div
            this.$inputs = {}
            for (let k of Object.keys(this.fields)) {
                const selector = this.fields[k].selector;
                this.$inputs[k] = selector === null ? div : div.querySelector(selector);
            }
        }
        setValues(values) {
            for (let k of Object.keys(this.fields)) {
                const v = values[k];
                this.fields[k].setter(this.$inputs[k], v);
                this.$inputs[k].dispatchEvent(new Event("change"));
            }
        }
        getValues() {
            const values = {}
            for (let [k, elem] of Object.entries(this.$inputs)) {
                values[k] = this.fields[k].getter(elem)
            }
            return values;
        }
        bindCallback(field_name, callback) {
            this.$inputs[field_name].addEventListener("change", ev => callback(ev.target.value))
        }
        isValid() {
            return [...this.$form.querySelectorAll("input")].every(i => !i.hasAttribute("aria-invalid"))
        }
        delete() {
            this.$form.setAttribute("hidden", "");
            this.$form.querySelector(`input[name*=DELETE]`).checked = true;
        }
        hide() {
            this.$form.setAttribute("hidden", "");
        }
        show() {
            this.$form.removeAttribute("hidden")
        }
    }

    class TreatmentsList {
        constructor(divId) {
            this.divId = divId
            this.$div = document.querySelector(`#${divId}`);
            if (this.$div.children.length === 0) this.$div.innerHTML = "None"
        }
        addSummary(treatmentValues, isValid, onfocus, ondelete) {
            const values = treatmentValues;
            const template = document.createElement("template");
            var innerHTML = `
            <div class='pr-2 mt-2' ${isValid ? "id='summary-" + values.id + "'" : ""} style='position: relative; display: flex; height: 42px; min-width: 100%; ${isValid ? "" : "border: solid 2px var(--danger);"}'>
                <button id='focus-${values.id}' class='btn btn-secondary text-truncate w-100'>${values.name}</button>
                <button id='delete-${values.id}' class='btn' style='position: absolute; top: -22px; right: -15px; opacity: 1; z-index: 90;'><img src='/static/img/close.svg'></button>
            </div>
            `.trim();
            if (!isValid) {
                innerHTML = `
                <div>
                    <input type='hidden' class='is_invalid'>
                    ${innerHTML}
                    <span class='invalid-feedback d-block'>contains errors</span>
                </div>
                `.trim();
            }
            template.innerHTML = innerHTML;
            if (this.$div.innerHTML === "None") this.$div.innerHTML = "";
            this.$div.append(template.content.cloneNode(true));
            const btn = this.$div.querySelector(`button[id=focus-${values.id}]`)
            btn.addEventListener("click", ev => {
                ev.preventDefault();
                this.$div.querySelectorAll("button[id*=focus-]").forEach(b => b.classList.remove("selected-treatment"))
                btn.classList.add("selected-treatment");
                onfocus();
            })
            btn.addEventListener("focusout", ev => {
                event.target.focus()
            })
            this.$div.querySelectorAll("button").forEach(b => b.classList.remove("selected-treatment"))
            btn.focus();
            btn.classList.add("selected-treatment");
            this.$div.querySelector(`#delete-${values.id}`).addEventListener("click", ev => {
                ev.preventDefault();
                this.$div.querySelector(`#summary-${values.id}`).remove();
                if (this.$div.children.length === 0) {
                    this.$div.innerHTML = "None"
                }
                document.querySelector("form").dispatchEvent(new Event("change"));
                ondelete();
            })
        }
    }

    class TreatmentFormset {
        form_class = TreatmentForm
        root_selector = "fieldset[id='treatments-formset-fieldset']"
        form_selector = "div[id*='treatments-n-']"
        empty_form_selector = "[id='treatment-empty']"
        management_form_selector = "#treatments-management"

        constructor() {
            this.$root = document.querySelector(this.root_selector);
            this.$forms = [...this.$root.querySelectorAll(this.form_selector)];
            this.forms = Object.fromEntries([...this.$forms].map(f => {
                const form = new this.form_class(f)
                return [form.getValues().id, form]
            }))
            this.$empty_form = document.querySelector(this.empty_form_selector)
            this.$management_form = document.querySelector(this.management_form_selector);
            this.$summaryDiv = this.$root.querySelector("[id=selected-treatments]");
        }
        createForm(values) {
            let newForm = this.$empty_form.cloneNode(true);
            let nForms = this.$forms.length;
            const newFormId = `treatments-n-${nForms}`
            newForm.setAttribute("id", newFormId);
            newForm.removeAttribute("hidden");
            newForm.innerHTML = newForm.innerHTML.replaceAll(
                new RegExp('__prefix__', "g"), `${nForms}`
            );
            this.$root.append(newForm);
            this.$forms.push(newForm);
            Object.values(this.forms).map(f => f.hide())
            this.forms[newFormId] = new this.form_class(newForm)
            this.updateFormsCount(nForms + 1);
            document.querySelector("form").dispatchEvent(new Event("change"));
            return this.forms[newFormId];
        }
        updateFormsCount(count) {
            this.$management_form.querySelector("input[id*='TOTAL_FORMS']").value = count;
        }
    }
    class TreatmentTrace {
        constructor({ name = '', bacteria_min = 0, viruses_min = 0, protozoa_min = 0, bacteria_max = 0, viruses_max = 0, protozoa_max = 0, color = "#FFFFFF" }) {
            this.data = {
                viruses: {
                    name: name, x: ['min', 'max'], y: [viruses_min, viruses_max], type: 'bar',
                    xaxis: "x", yaxis: "y", marker: { color: color }, showlegend: true
                },
                bacteria: {
                    name: name, x: ['min', 'max'], y: [bacteria_min, bacteria_max], type: 'bar',
                    xaxis: "x2", yaxis: "y", marker: { color: color }, showlegend: false
                },
                protozoa: {
                    name: name, x: ['min', 'max'], y: [protozoa_min, protozoa_max], type: 'bar',
                    xaxis: "x3", yaxis: "y", marker: { color: color }, showlegend: false
                }
            }
            this.updates = {
                id: x => {},
                pathogen_name: x => { this.data.name = x },
                viruses_min: x => { this.data.viruses.y[0] = x },
                bacteria_min: x => { this.data.bacteria.y[0] = x },
                protozoa_min: x => { this.data.protozoa.y[0] = x },
                viruses_max: x => { this.data.viruses.y[1] = x },
                bacteria_max: x => { this.data.bacteria.y[1] = x },
                protozoa_max: x => { this.data.protozoa.y[1] = x },
            }
        }
        update(key, value) {
            if (!Object.keys(this.updates).includes(key)) {
                throw new Error(`'key' must be one of ${[...Object.keys(this.updates)]}. Got: '${key}'`)
            }
            this.updates[key](value);
        }
    }
    class TreatmentPlot {
        constructor(divId) {
            this.divId = divId;
            this.$div = document.querySelector(`#${divId}`)
            this.withIrrigationThresholds = false;
            this.traces = {}
            this.data = [];
            this.layout = {
                datarevision: 0,
                grid: { rows: 1, columns: 3, subplots: [["xy", "x2y", "x3y"]] },
                barmode: 'stack',
                width: this.$div.parentElement.clientWidth * .3,
                height: this.$div.clientHeight,
                yaxis: {
                    type: 'log',
                    exponentformat: "power",
                    autorange: true,
                    title: "Logremoval of individual<br>treatment steps",
                },
                xaxis: {
                    autorange: true, domain: [0., 0.33333]
                },
                xaxis2: {
                    autorange: true, domain: [.33333, .6666666]
                },
                xaxis3: {
                    autorange: true, domain: [.666666666, 1.]
                },
                autosize: true,
                font_color: "black",
                margin: { l: 60, r: 0, t: 30, b: 0 },
                legend: {
                    orientation: "h", yanchor: "top",
                    xanchor: "center",
                    x: 0.5,
                    traceorder: "normal"
                },
                plot_bgcolor:"#F6F6FF",
                paper_bgcolor:"#F6F6FF",
                annotations: [{
                    text: "Viruses",
                    font: {
                        size: 12,
                    },
                    showarrow: false,
                    align: 'center',
                    x: 0.5, //position in x domain
                    y: 1.05, //position in y domain
                    xref: 'x',
                    yref: 'paper',
                    yanchor: 'top'
                },
                {
                    text: "Bacteria",
                    font: {
                        size: 12,
                    },
                    showarrow: false,
                    align: 'center',
                    x: 0.5, //position in x domain
                    y: 1.05,  // position in y domain
                    xref: 'x2',
                    yref: 'paper',
                    yanchor: 'top'
                },
                {
                    text: "Protozoa",
                    font: {
                        size: 12,
                    },
                    showarrow: false,
                    align: 'center',
                    x: 0.5, //position in x domain
                    y: 1.05,  // position in y domain
                    xref: 'x3',
                    yref: 'paper',
                    yanchor: 'top'
                }
                ]
            };
            this.config = { displaylogo: false, modeBarButtonsToRemove: ['zoom2d', 'pan2d', 'select2d', 'lasso2d', 'zoomIn2d', 'zoomOut2d', 'autoScale2d', 'resetScale2d'], responsive: true };
            this.plot = Plotly.newPlot(divId, this.data, this.layout, this.config);
            window.addEventListener("resize", () => {
                Plotly.relayout(divId, {
                    'xaxis.autorange': true,
                    'yaxis.autorange': true
                });
            });
        }
        update() {
            this.layout.datarevision += 1;
            const data = [...this.data, ...(this.withIrrigationThresholds ? this.irrigationThresholds : [])];
            Plotly.react(this.divId, data, this.layout, this.config);
        }
        get irrigationThresholds(){
            const name = "Legally Required LRVs<br>for Class A irrigation<br>according to the EU Water<br>Reuse Reg. 2020/74";
            return [{
                x: ["min", "max"], y: [5, 5], type: 'scatter',
                mode: "lines", fill: "tonexty",
                marker: {color: "hsl(332, 100, 49)"},
                xaxis: "x", yaxis: "y", name: name, showlegend: true
            },
            {
                x: ['min', 'max'], y: [4, 4], type: 'scatter',
                mode: "lines", fill: "tonexty",
                marker: {color: "hsl(332, 100, 49)"},
                xaxis: "x2", yaxis: "y", name: name, showlegend: false
            },
            {
                x: ['min', 'max'], y: [6, 6], type: 'scatter',
                mode: "lines", fill: "tonexty",
                marker: {color: "hsl(332, 100, 49)"},
                xaxis: "x3", yaxis: "y", name: name, showlegend: false
            }]
        }
        displayLRVThresholdForIrrigation() {
            this.withIrrigationThresholds = true;
            this.update();
        }
        removeLRVThresholdForIrrigation() {
            this.withIrrigationThresholds = false;
            this.update();
        }
    }
    class TreatmentController {
        constructor(list, formset, plot, info, references) {
            this.list = list;
            this.formset = formset;
            this.plot = plot;
            this.info = info;
            this.treatments = [];
            this.references = references;
        }
        addTreatment(form, values) {
            const formValues = form.getValues();
            this.treatments.push(values);
            const idx = parseInt(formValues.id.split("-").pop());
            const trace = new TreatmentTrace({ ...formValues, color: `hsl(229, 100, ${(44 + idx * 22) % 100})` });
            const summary = this.list.addSummary(formValues, form.isValid(),
                () => {
                    Object.values(this.formset.forms).map(f => f.hide());
                    form.show()
                },
                () => {
                    form.delete()
                    const startIndex = this.plot.data.indexOf(this.plot.traces[formValues.id].data.viruses)
                    const stopIndex = this.plot.data.indexOf(this.plot.traces[formValues.id].data.protozoa)
                    this.plot.data.splice(startIndex, stopIndex + 1);
                    const start = this.treatments.indexOf(values)
                    this.treatments.splice(start, 1);
                    delete this.plot.traces[formValues.id];
                    this.plot.update()
                    this.renderInfos()
                }
            )
            this.plot.traces[formValues.id] = trace;
            this.plot.data.push(...Object.values(this.plot.traces[formValues.id].data))
            for (let field of Object.keys(form.fields)) {
                form.bindCallback(field, newValue => {
                    this.plot.traces[formValues.id].updates[field](newValue);
                    this.plot.update()
                })
            }
            this.plot.update()
            this.renderInfos()
        }
        renderInfos() {
            const uniques = new Set();
            var inner = "";
            for (const treatment of this.treatments){
                if (!uniques.has(treatment.name)){
                    const virus_ref = this.references[treatment.viruses_reference]
                    const bacteria_ref = this.references[treatment.bacteria_reference]
                    const protozoa_ref = this.references[treatment.protozoa_reference]
                    uniques.add(treatment.name)
                    const ref = virus_ref === undefined ?
                        bacteria_ref === undefined ? protozoa_ref === undefined ? "#" : protozoa_ref : bacteria_ref : virus_ref
                    const link = ref.ReferenceLink;
                    const name = ref.ReferenceName;
                    inner += `<li>
                    <h5>${treatment.name}</h5>
                    <div class="text-muted small mb-4">${treatment.description}</div>
                    <table class="table small">
                        <tr>
                            <th>Pathogen group</th>
                            <th>Minimum LRV<sup>[1]</sup></th>
                            <th>Maximum LRV<sup>[1]</sup></th>
                        </tr>
                        <tr>
                            <td>Viruses</td>
                            <td>${treatment.viruses_min === null ? 'NA' : treatment.viruses_min}</td>
                            <td>${treatment.viruses_max === null ? 'NA' : treatment.viruses_max}</td>
                        </tr>
                        <tr>
                            <td>Bacteria</td>
                            <td>${treatment.bacteria_min === null ? 'NA' : treatment.bacteria_min}</td>
                            <td>${treatment.bacteria_max === null ? 'NA' : treatment.bacteria_max}</td>
                        </tr>
                        <tr>
                            <td>Protozoa</td>
                            <td>${treatment.protozoa_min === null ? 'NA' : treatment.protozoa_min}</td>
                            <td>${treatment.protozoa_max === null ? 'NA' : treatment.protozoa_max}</td>
                        </tr>
                        
                    </table>
                    <div class="small"><sup>[1]</sup>values taken from <a href="${link}">${name}</a></p>
                    </li>
                    `
                }
            }
            this.info.innerHTML = `<h4>Treatments</h4><ul>${inner}</ul>`;
        }
    }

    function getTreatmentInfo() {
        document.querySelector("#treatment-info");
    }


    document.addEventListener('DOMContentLoaded', async function () {
        defaultTreatments = await fetch("{% static 'data/default-treatments.json' %}").then(resp => resp.json());
        defaultTreatments = {...defaultTreatments, 
            ...await fetch("{% url 'treatments' %}").then(resp => resp.json())
        }
        defaultReferences = await fetch("{% static 'data/default-references.json' %}").then(resp => resp.json());
        const formset = new TreatmentFormset();
        const list = new TreatmentsList("selected-treatments");
        treatmentsPlots = new TreatmentPlot("treatments-plot");
        const treatmentController = new TreatmentController(list, formset, treatmentsPlots, document.querySelector("#treatment-info"), defaultReferences);
        var lastForm = null
        for (let form of Object.values(formset.forms)) {
            treatmentController.addTreatment(form, { ...defaultTreatments[form.getValues().name] })
            form.hide()
            lastForm = form
        }
        if (lastForm !== null) { lastForm.show() }
        document.querySelector("#add-treatment-btn").addEventListener("click", ev => {
            const values = { ...defaultTreatments[document.querySelector("#id_select_treatment").value] }
            const form = formset.createForm(values);
            form.setValues(values);
            treatmentController.addTreatment(form, values)
        })
        // callback to display legal LRV threshold for irrigation exposures
        const selectedExposure = document.querySelector("#id_ra-exposure_name");
        selectedExposure.addEventListener("change", ev => {
            if (ev.target.value.includes("irrigation")) {
                treatmentsPlots.displayLRVThresholdForIrrigation();
            } else {
                treatmentsPlots.removeLRVThresholdForIrrigation();
            }
        })
        if (selectedExposure.value.includes("irrigation")) {
            treatmentsPlots.displayLRVThresholdForIrrigation();
        }
    })

</script>