apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ .Values.namespace }}
  name: {{ .Values.configmap_name }}
data:
  DEBUG: {{ .Values.debug }}
  DOMAIN_NAME: {{ .Values.domain }}
  SQLITE_PATH: {{ .Values.sqlite.mount_path }}
  STATIC_ROOT: {{ .Values.static.mount_path }}
---
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ .Values.namespace }}
  name:  {{ .Values.app_secret_key.secret_name }}
type: Opaque
data:
  key: {{ .Values.app_secret_key.value }}