---
name: CICD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: test app
    uses: ./.github/workflows/test.yaml
  build-dev:
    needs: test
    name: build-dev
    uses: ./.github/workflows/build.yaml
    with:
      environment: dev
    secrets: inherit
  deploy-dev:
    needs: build-dev
    name: deploy-dev
    uses: ./.github/workflows/deploy.yaml
    with:
      environment: dev
    secrets: inherit
  build-prod:
    if: github.ref_name == 'main'
    needs: test
    name: build-prod
    uses: ./.github/workflows/build.yaml
    with:
      environment: prod
    secrets: inherit
  deploy-prod:
    if: github.ref_name == 'main'
    needs:
      - build-prod
      - deploy-dev
    name: deploy-prod
    uses: ./.github/workflows/deploy.yaml
    with:
      environment: prod
    secrets: inherit