---
name: Deploy Django Application

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
    - name: Declare image's tag
      shell: bash
      run: |
        echo "sha_short=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"
    - name: echo sha
      run: |
        echo "${{ env.sha_short }}"
    - name: Deploy
      uses: appleboy/ssh-action@v1.1.0
      env:
        sha_short: ${{ env.sha_short }}
      with:
        host: ${{ secrets.DEPLOY_HOST }}
        username: ${{ secrets.DEPLOY_USER }}
        key: ${{ secrets.DEPLOY_SERVER_SSH_KEY }}
        envs: sha_short
        script: |
          echo "$sha_short"